---
import BaseLayout from '@/layouts/BaseLayout.astro'
---

<BaseLayout title="Esencia Magnética">
  <main class="min-h-screen flex items-center justify-center">
    <h1 class="text-4xl font-bold">Esencia Magnética</h1>
  </main>
</BaseLayout>
