---
import { cardVariants, type CardVariants } from "@/lib/ui/cardVariants";
import { cn } from "@/lib/utils";

interface Props extends CardVariants {
  class?: string;
}

const { hover = true, padding = "md", class: className } = Astro.props;
const classes = cn(cardVariants({ hover, padding }), className);
---

<div class={classes}>
  <slot />
</div>
